.trading-page {
  width: 100%;
  display: flex;
  overflow: hidden;
  position: fixed;

  .token-select-wrap {
    display: none;
  }
}

@media only screen and (max-width: 820px) {
  .trading-page {
    flex-flow: column;

    .token-select-wrap {
      display: block;
      top: 68px;
      left: -5px;

      button {
        padding: 4px 8px;
      }
    }
  }
}