.footer {
  background: #2a2b30;
  color: #fff;
  width: 100%;

  .wrap {
    margin: 0 auto;
    max-width: 1200px;
    padding: 72px 40px 76px;
    display: flex;
    gap: 10px;

    .basic-info {
      width: 40%;

      .head-title {
        font-weight: bold;
        margin: 0;
        margin-bottom: 33px;
        font-size: 22px;
      }
    }
  }

  a {
    color: #b8b8b8;
    text-decoration: none;
  }

  .desc {
    margin-bottom: 40px;
    display: flex;
    justify-content: space-between;
    width: 570px;
    margin-left: auto;

    .item {
      display: flex;
      flex-direction: column;
      line-height: 32px;

      .upper {
        margin-top: 0;
        text-transform: uppercase;
        font-weight: bold;
      }
    }
  }

  .social {
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;

    overflow-x: auto;
    overflow-y: hidden;

    a {
      padding: 5px;
      align-items: center;
      background-color: #838383;
      border-radius: 50%;
      display: flex;
      height: 40px;
      justify-content: center;
      margin: 0 8px;
      transition: background-color 0.2s cubic-bezier(0.215, 0.61, 0.355, 1);
      width: 40px;
      fill: #fff;
    }
  }
}

@media only screen and (max-width: 820px) {
  .footer {

    .wrap {
      flex-flow: column;
      padding: 50px 40px 50px;

      .basic-info {
        width: 100%;
        order: 2;
      }

      .desc {
        flex-flow: column;
        gap: 20px;
        width: auto;
        margin-left: inherit;
        width: 100%;
      }
    }
  }
}